---
layout: default
title: Philanthropy in China - The Ash Center for Democratic Governance and Innovation
excerpt: Top 100 Chinese philanthropists between Sep 2014 and Aug 2015. Research by The Ash Center for Democratic Governance and Innovation, Harvard Kennedy School
language: en
---
   
<header class="">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Philanthropy in China</h1>
            <hr>
            <p>The Ash Center for Democratic Governance and Innovation releases its inaugural annual report on 100 most generous Chinese philanthropists</p>
            <a href="white-paper.pdf" target="_blank" class="btn btn-primary btn-xl"><i class="fa fa-file-pdf-o"></i> White Paper</a>
            <br>
            <br>
        </div>
    </div>
    <div class="lrn-mr-btn">
        <a href="#overview" class="next-section page-scroll">
            Learn More<br>
            <i class="fa fa-angle-down wow slideOutDown infinite"></i>
        </a>
    </div>
</header>

<section id="overview" class="with-nxt-sct-btn overview bg-dark wow fadeIn">
    <div class="background-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">2015 Overview</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2 wow fadeIn">
                <p>The systematic and rigorous database includes each philanthropist’s giving levels between September 2014 and August 2015, recipient organizations, and a host of other research variables related to philanthropists and recipients.</p>
            </div>
        </div>
        <div class="row text-center metrics">
            <div class="col-sm-4 wow zoomIn mg-top-50">
                <p class="metric-lg">100</p>
                <p>People</p>
            </div>
            <div class="col-sm-4 wow zoomIn mg-top-50">
                <p class="metric-lg">$3.8 Billion</p>
                <p>Donated <small data-toggle="tooltip" data-placement="bottom" title="The number includes pledges made by four individuals: Jack Ma, He Qiaonv, Li Hejun and Zhou Xuzhou"><i class="fa fa-info-circle"></i></small></p>
            </div>
            <div class="col-sm-4 wow zoomIn mg-top-50">
                <p class="metric-lg">0.03%</p>
                <p>Of 2014 China’s GDP</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mg-top-50">
                    <a href="#findings" class="next-section page-scroll">
                        Key Findings<br>
                        <i class="fa fa-angle-down wow slideOutDown infinite"></i>
                    </a>
                </div>
            </div>    
        </div>
    </div> 
</section>

<section id="findings" class="with-nxt-sct-btn findings bg-dark bg-image wow fadeIn">
    <div class="background-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Key Findings</h2>
                <hr class="">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <ul class="key-findings mg-top-50">
                    <li class="wow fadeIn" data-wow-delay="0s">Total donations and pledges of the Top 100 account for a quarter of national donations in 2014. <small data-toggle="tooltip" title="Source: 2014 Social Service Development Report, Ministry of Civil Affairs of People’s Republic of China, June 10, 2015."><i class="fa fa-info-circle"></i></small></li>
                    <li class="wow fadeIn" data-wow-delay=".1s">24 individuals make it into China’s Top 100 donors for the first time.</li>
                    <li class="wow fadeIn" data-wow-delay=".19s">Mean: ￥52 million ($8.2 million). Median: ￥20 million ($3.1 million).</li>
                    <li class="wow fadeIn" data-wow-delay=".265s">Most philanthropists hail from the real estate sector.</li>
                    <li class="wow fadeIn" data-wow-delay=".32s">Wang Miaotong tops the new Generosity Index with 5.61%. <small data-toggle="tooltip" title="Generosity Index measures a philanthropist’s willingness to give by dividing annual donations by the value of shares the philanthropist owns in any publicly traded companies, a proxy to his or her level of wealth."><i class="fa fa-info-circle"></i></small></li>
                    <li class="wow fadeIn" data-wow-delay=".35s">Two philanthropists made major pledges in the form of stocks. They are: Jack Ma and He Qiaonv.</li>
                    <li class="wow fadeIn" data-wow-delay=".37s">Three philanthropists donate overseas; 19 philanthropists set up own foundations. </li>
                    <li class="wow fadeIn" data-wow-delay=".385s">Top 100 philanthropists average age: 54.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="section-double-btn-wrapper text-center mg-top-50">
                    <a href="charts.html" class="btn btn-primary btn-xl"><i class="fa fa-bar-chart"></i> View Charts</a>
                    <a href="maps.html" class="btn btn-primary btn-xl"><i class="fa fa-globe"></i> View Maps</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mg-top-50">
                    <a href="#top-givers" class="next-section page-scroll">
                        Top Givers<br>
                        <i class="fa fa-angle-down wow slideOutDown infinite"></i>
                    </a>
                </div>
            </div>    
        </div>
    </div> 
</section>

<section id="top-givers" class="top-givers with-nxt-sct-btn">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Top Givers</h2>
                <hr class="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
        {% assign a = 0 %}
        {% assign b = 1 %}
        {% assign i = 0 %}

        {% assign focus_number = 0 %}
        {% assign generosity_number = 0 %}
        {% assign industry_number = 0 %}
        {% assign age_number = 0 %}

        {% assign education_number = 0 %}
        {% assign environment_number = 0 %}
        {% assign healthcare_number = 0 %}
        {% assign social_number = 0 %}
        {% assign disaster_number = 0 %}
        {% assign culture_number = 0 %}

        {% for person in site.data.persons %}

            {% if b <= 10 %}

                {% assign focuses = "a|b" | split: "|" %}
                {% if person.['Education'] > 0 %}
                     {% assign focuses = focuses | push: "Education" %}
                {% endif %}
                {% if person.['Environment'] > 0 %}
                     {% assign focuses = focuses | push: "Environment" %}
                {% endif %}
                {% if person.['Healthcare'] > 0 %}
                     {% assign focuses = focuses | push: "Healthcare" %}
                {% endif %}
                {% if person.['Social Welfare'] > 0 %}
                     {% assign focuses = focuses | push: "Social Welfare" %}
                {% endif %}
                {% if person.['Disaster Relief'] > 0 %}
                     {% assign focuses = focuses | push: "Disaster Relief" %}
                {% endif %}
                {% if person.['Culture'] > 0 %}
                     {% assign focuses = focuses | push: "Culture" %}
                {% endif %}

                {% assign focuses = focuses | array_to_sentence_string %}
                {% assign focuses = focuses | replace: 'a, b,', '' %}
                {% assign focuses = focuses | replace: 'and', '' %}

                {% assign industry_class = person.['Industry'] | split: &nbsp; %}
                {% assign industry_class = industry_class | join: '-' %}
                {% assign industry_class = industry_class | downcase %}
                {% assign industry_class = industry_class | replace: '/', '-' %}
                    <div class="{% if b == 1 or b == 6 %}col-md-offset-1{% endif %} col-md-2 col-sm-6 col-xs-6 mg-top-25 person-box top-giver wow pulse" id="person-container-{{ person.['Ranking'] }}">
                        <div class="circle">
                            <div class="circle-text {% if person.['Image URL'] != 0 %}with-bg-image{% endif %}">
                                {% if person.['Image URL'] != 0 %}
                                <div class="giver-image" style="background-image: url({{ person.['Image URL'] }});"></div>
                                {% else %}
                                <div class="person-placeholder">
                                    <i class="fa fa-user"></i>
                                </div>
                                {% endif %}
                                <div class="content">
                                    <div>{{ b }}</div>
                                    <h4 class="card-name-container" data-name="{{ person.['Name Eng'] }}">{{ person.['Name Eng'] }}</h4>
                                    <div>¥{{ person.['Total Amount (million Yuan)'] }} Million</div>
                                </div>
                            </div>
                            <div class="details">
                                <div class="content">
                                    <ul class="no-bullets">
                                        <li><span class="text-muted">Age:</span> {% if person.['Age'] > 0 %} {{ person.['Age'] }} {% else %} N.A. {% endif %}</li>
                                        <li><span class="text-muted">Generosity:</span> {% if person.['Generosity'] != 0 %} {{person.['Generosity']}} {% else %} N.A. {% endif %}</li>
                                        <li><span class="text-muted">Province:</span> {% if person.['From Province'] != 0 %} {{ person.['From Province'] }} {% else %} N.A. {% endif %}</li>
                                        <li><span class="text-muted">Industry:</span> {{ person.['Industry'] }}</li>
                                        <li><span class="text-muted">Focus:</span> {{ focuses }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>            
                {% assign i = i | plus: 1 %} 
                {% if a == 9%}
                    {% assign a = 0 %}
                {% else %}
                    {% assign a = a | plus: 1 %} 
                {% endif %}
                {% assign b = b | plus: 1 %}
                {% if focuses != '' %}
                    {% assign focus_number = focus_number | plus: 1  %}
                {% endif %}   
                {% if person.['Generosity'] != 0 %}
                    {% assign generosity_number = generosity_number | plus: 1  %}
                {% endif %} 
                {% if person.['Industry'] != 0 %}
                    {% assign industry_number = industry_number | plus: 1  %}
                {% endif %} 
                {% if person.['Age'] > 0 %}
                    {% assign age_number = age_number | plus: 1  %}
                {% endif %} 

                {% if person.['Education'] > 0 %}
                     {% assign education_number = education_number | plus: 1  %}
                {% endif %}
                {% if person.['Environment'] > 0 %}
                     {% assign environment_number = environment_number | plus: 1  %}
                {% endif %}
                {% if person.['Healthcare'] > 0 %}
                     {% assign healthcare_number = healthcare_number | plus: 1  %}
                {% endif %}
                {% if person.['Social Welfare'] > 0 %}
                     {% assign social_number = social_number | plus: 1  %}
                {% endif %}
                {% if person.['Disaster Relief'] > 0 %}
                     {% assign disaster_number = disaster_number | plus: 1  %}
                {% endif %}
                {% if person.['Culture'] > 0 %}
                     {% assign culture_number = culture_number | plus: 1  %}
                {% endif %}

            {% endif %}                

        {% endfor %}
        </div>
        <div class="row">
            <div class="col-xs-12 text-center mg-top-50">
                <a href="charts.html?generosity#people" class="btn btn-primary btn-xl"><i class="fa fa-users"></i> View Full List</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mg-top-50">
                    <a href="#location" class="next-section dark page-scroll">
                        Highlights<br>
                        <i class="fa fa-angle-down wow slideOutDown infinite"></i>
                    </a>
                </div>
            </div>    
        </div>
    </div>
</section>

<section id="location" class="location bg-dark bg-image wow fadeIn">
    <div class="background-image zoomable"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-heading wow bounce" data-wow-delay=".1s"><i class="fa fa-map-marker"></i> Guangdong – Land of Giving</h2>
                <hr class="light">
                <div class="wow zoomIn" data-wow-delay=".1s">
                    <p>The southern province of China is home to 21 philanthropists who donated about ￥11 billion, making it the most generous region by both counts. He Xiangjian, founder of the electrical appliance manufacturer Midea, leads with ￥400 million donation in 2015.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center mg-top-25">
                <a href="maps.html" class="btn btn-default btn-xl wow tada" data-wow-delay=".5s"><i class="fa fa-globe"></i> View Map</a>
            </div>
        </div>
    </div>
</section>

<section id="top-industries" class="wow fadeIn no-padding">
    <div class="container-fluid">
        <div class="row text-center">
          <div class="row-height">
            <div class="col-sm-6 col-height top-industry bg-dark bg-image">
                <div class="background-image zoomable"></div>
                <div class="inside">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <h2 class="section-heading wow bounce"><i class="fa fa-building"></i> Real Estate Gives</h2>
                                <hr class="light">
                                <p class="wow zoomIn">China’s booming property market has minted the most philanthropists. There are 30 philanthropists whose core business is real estate, followed by Manufacturing (19), Consumer (14) and Technology (13).</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center mg-top-25">
                                 <a href="charts.html?industry" class="btn btn-default btn-xl wow tada" data-wow-delay=".5s"><i class="fa fa-bar-chart"></i> View Chart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-height hot-sector bg-dark bg-image">
                <div class="background-image zoomable"></div>
                <div class="inside">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <h2 class="section-heading wow bounce"><i class="fa fa-graduation-cap"></i> Education Takes</h2>
                                <hr class="light">
                                <p class="wow zoomIn">Education gets the lion’s share with 59 philanthropists making contributions. Poverty alleviation/social welfare is the second most active sector (52), followed by disaster relief (8) and healthcare (8).</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center mg-top-25">
                                 <a href="charts.html?education" class="btn btn-default btn-xl wow tada" data-wow-delay=".5s"><i class="fa fa-bar-chart"></i> View Chart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </div>
</section>

<section id="foundations" class="wow fadeIn no-padding">
    <div class="container-fluid">
        <div class="row text-center">
          <div class="row-height">
            <div class="col-sm-6 col-height government bg-dark bg-image">
                <div class="background-image zoomable"></div>
                <div class="inside">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                 <h2 class="section-heading wow bounce" data-wow-delay=".1s"><i class="fa fa-university"></i> State-owned Charity</h2>
                                <hr class="light">
                                <div class="wow zoomIn" data-wow-delay=".1s">
                                    <p>Nearly three out of five philanthropists (57) donate to government or government-backed charities.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-height private-foundation bg-dark bg-image">
                <div class="background-image zoomable"></div>
                <div class="inside">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <h2 class="section-heading wow bounce"><i class="fa fa-balance-scale"></i> Founding Foundations</h2>
                                <hr class="light">
                                <p class="wow zoomIn">Among Top 100, 19 philanthropists set up own foundations.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </div>
</section>

<section id="gender" class="with-nxt-sct-btn">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Gender Comparison</h2>
                <hr class="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pull-down-wrapper">
            <div class="col-sm-6 text-center">
                <div class="gender-icons-container mg-top-50">
                  
                  {% assign a = 0 %}
                  {% for i in (1..89) %}

                    {% if a < 10 %}
                    <i class="fa fa-male wow bounceIn text-primary" data-wow-delay=".0{{ a }}s"></i>
                    {% else %}
                    <i class="fa fa-male wow bounceIn text-primary" data-wow-delay=".{{ a }}s"></i>{% if a == 17 or a == 35 or a == 53 or a == 71 %}<br>{% endif %}

                    {% endif %}
                    {% assign a = a | plus: 1 %}

                  {% endfor %}

                    <h3>89 male philanthropists</h3>
                </div>
            </div>
            <div class="col-sm-6 text-center pull-down">
                <div class="gender-icons-container mg-top-50">
                  
                  {% assign a = 0 %}
                  {% for i in (1..11) %}
                    
                    <i class="fa fa-female wow bounceIn text-primary" data-wow-delay="{{ a | divided_by: 10 }}.{{ a | modulo: 10 }}s"></i>
                    {% assign a = a| plus: 1 %}

                  {% endfor %}

                  <h3>11 female philanthropists</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mg-top-50">
                    <a href="#about" class="next-section dark page-scroll">
                        About the Project<br>
                        <i class="fa fa-angle-down wow slideOutDown infinite"></i>
                    </a>
                </div>
            </div>    
        </div>
    </div>
</section>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About the Project</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 wow fadeIn">
                <p>The rise of private wealth is one of the most important developments in modern China, with implications for the country’s social, economic, and political arenas. How individuals choose to deploy such resources will shape the relationships between the individual and the state, between the state and business, and between the state and the social sector.</p>
                <p>The research aims to provide a holistic view of China’s philanthropic landscape by analyzing specific givings of China’s most generous individuals. The findings are based on a variety of sources, including media reports, company websites, corporate filings and trade journals and most of them they are verified by each philanthropist or his or her representative and recipients of the funds.</p>
                <p>We believe that an independent, verified, and research-oriented design of a Chinese giving database will enable much-needed quantitative research and will also result in indices that can be used by a range of government, academic, media, and non-profit organizations.</p>
            </div>
            <div class="col-md-5 wow fadeIn">
                <p>This website will be updated every year. The 2015 report is compiled by: Peiran Wei (MC MPA '15, Harvard Kennedy School),  Zijia Guo (MIB '15, The Fletcher School of Tufts University), Qinqin Wu (MDes '15, Harvard Graduate School of Design), Cuimei Zhang (Ed.M '15, Harvard Graduate School of Education) and Evan Kornbluh (MPP/MBA Candidate, Harvard Kennedy School/Harvard Business School).</p>
                <img src="{{ "/img/home/team.jpg" || prepend: site.baseurl }}" alt="Research team">
            </div>
        </div>
    </div>
</section>