---
layout: default
title: China's Most Generous -- The Ash Center for Democratic Governance and Innovation
excerpt: Top 100 Chinese philanthropists between Sep 2014 and Aug 2015. Research by The Ash Center for Democratic Governance and Innovation, Harvard Kennedy School
language: en
---
   
<header class="">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>China's Most Generous</h1>
            <hr>
            <p>The Ash Center for Democratic Governance and Innovation releases its inaugural list of 2015’s top 100 Chinese philanthropists</p>
            <a href="{{ site.url }}/white-paper.pdf" target="_blank" class="btn btn-primary btn-xl"><i class="fa fa-file-pdf-o"></i> Read the Report</a>
            <br>
            <br>
        </div>
    </div>
    <div class="lrn-mr-btn">
        <a href="#overview" class="next-section page-scroll">
            Learn More<br>
            <i class="fa fa-angle-down wow slideOutDown infinite"></i>
        </a>
    </div>
</header>

<section id="overview" class="with-nxt-sct-btn overview bg-dark wow fadeIn">
    <div class="background-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">2015 Overview</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2 wow fadeIn">
                <p>This original database includes individual philanthropists giving in Mainland China between September 2014 and August 2015, the geography of giving and receiving, causes supported, industries represented, and level of generosity.</p>
            </div>
        </div>
        <div class="row text-center metrics">
            <div class="col-sm-4 wow zoomIn mg-top-50">
                <a href="data.html?generosity#people" class="no-style">
                    <p class="metric-lg">100</p>
                    <p>People</p>
                </a>
            </div>
            <div class="col-sm-4 wow zoomIn mg-top-50">
                <p class="metric-lg">$3.8 Billion</p>
                <p>Donated and Pledged <small data-toggle="tooltip" data-placement="bottom" title="The number includes pledges made by four individuals: Jack Ma, He Qiaonv, Li Hejun and Zhou Xuzhou"><i class="fa fa-info-circle"></i></small></p>
            </div>
            <div class="col-sm-4 wow zoomIn mg-top-50">
                <p class="metric-lg">0.03%</p>
                <p>Of China’s GDP</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mg-top-50">
                    <a href="#findings" class="next-section page-scroll">
                        Key Findings<br>
                        <i class="fa fa-angle-down wow slideOutDown infinite"></i>
                    </a>
                </div>
            </div>    
        </div>
    </div> 
</section>

<section id="findings" class="with-nxt-sct-btn findings bg-dark bg-image wow fadeIn">
    <div class="background-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Key Findings</h2>
                <hr class="">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <ul class="key-findings mg-top-50">
                    <li class="wow fadeIn" data-wow-delay="0s">Wang Miaotong tops the 2015 <a href="data.html?generosity" class="no-style shadow-underline">Generosity Index</a> at 5.61% of his publicly disclosed net worth.</li>
                    <li class="wow fadeIn" data-wow-delay=".1s">He Xiangjian tops the 2015 Giving List at ￥400 million ($63 million).</li>
                    <li class="wow fadeIn" data-wow-delay=".19s">China's wealthiest prefer to give in their home provinces, largely excluding the country’s poorest <a href="maps.html?flow" class="no-style shadow-underline">areas</a> such as Tibet, Xinjiang, Ningxia, Gansu and Yunnan combined received only 1.96% of top 100 giving.</li>
                    <li class="wow fadeIn" data-wow-delay=".265s"><a href="data.html?education" class="no-style shadow-underline">Education</a> is the most popular cause of choice. Despite the acute environmental challenges facing China in 2015, <a href="data.html?environment" class="no-style shadow-underline">environmental</a> causes rank last in funding received.</li>
                    <li class="wow fadeIn" data-wow-delay=".32s">Total donations and pledges of the Top 100 account for a quarter of national donations in 2014.</li>
                    <li class="wow fadeIn" data-wow-delay=".35s">Most philanthropists hail from the real estate <a href="data.html?industry" class="no-style shadow-underline">sector.</a></li>
                    <li class="wow fadeIn" data-wow-delay=".37s">24 of these donors have never appeared in major philanthropic rankings.</li>
                    <li class="wow fadeIn" data-wow-delay=".385s">Mean: ￥52 million ($8.2 million). Median: ￥20 million ($3.1 million).</li>
                    <li class="wow fadeIn" data-wow-delay=".395s">China’s top philanthropists average 54 years of <a href="data.html?age" class="no-style shadow-underline">age</a>. In the US, average giving as a percentage of net worth increases with age.</li>
                    <li class="wow fadeIn" data-wow-delay=".405s">China’s philanthropists are professionalizing, with 19 donors operating their own foundations in 2015.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="section-double-btn-wrapper text-center mg-top-50">
                    <a href="data.html" class="btn btn-primary btn-xl"><i class="fa fa-bar-chart"></i> View Data</a>
                    <a href="maps.html" class="btn btn-primary btn-xl"><i class="fa fa-globe"></i> View Maps</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mg-top-50">
                    <a href="#top-givers" class="next-section page-scroll">
                        Top Givers<br>
                        <i class="fa fa-angle-down wow slideOutDown infinite"></i>
                    </a>
                </div>
            </div>    
        </div>
    </div> 
</section>

<section id="top-givers" class="top-givers with-nxt-sct-btn">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Top 10 - Generosity</h2> <span class="info" data-toggle="tooltip" title="Generosity Index measures a philanthropist’s willingness to give by dividing annual donations by the value of shares the philanthropist owns in any publicly traded companies, a proxy for his or her level of wealth."><i class="fa fa-lg fa-info-circle"></i></span>
                <hr class="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

        {% assign focus_number = 0 %}
        {% assign generosity_number = 0 %}
        {% assign industry_number = 0 %}
        {% assign age_number = 0 %}

        {% assign education_number = 0 %}
        {% assign environment_number = 0 %}
        {% assign healthcare_number = 0 %}
        {% assign social_number = 0 %}
        {% assign disaster_number = 0 %}
        {% assign culture_number = 0 %}

        {% for i in (1..10) %}
        
            {% for person in site.data.persons %}

                {% if person.['GI Rank'] == i %}

                    {% assign focuses = "a|b" | split: "|" %}
                    {% if person.['Education'] > 0 %}
                         {% assign focuses = focuses | push: "Education" %}
                    {% endif %}
                    {% if person.['Environment'] > 0 %}
                         {% assign focuses = focuses | push: "Environment" %}
                    {% endif %}
                    {% if person.['Healthcare'] > 0 %}
                         {% assign focuses = focuses | push: "Healthcare" %}
                    {% endif %}
                    {% if person.['Social Welfare'] > 0 %}
                         {% assign focuses = focuses | push: "Social Welfare" %}
                    {% endif %}
                    {% if person.['Disaster Relief'] > 0 %}
                         {% assign focuses = focuses | push: "Disaster Relief" %}
                    {% endif %}
                    {% if person.['Culture'] > 0 %}
                         {% assign focuses = focuses | push: "Culture" %}
                    {% endif %}

                    {% assign focuses = focuses | array_to_sentence_string %}
                    {% assign focuses = focuses | replace: 'a, b,', '' %}
                    {% assign focuses = focuses | replace: 'and', '' %}

                    {% assign industry_class = person.['Industry'] | split: &nbsp; %}
                    {% assign industry_class = industry_class | join: '-' %}
                    {% assign industry_class = industry_class | downcase %}
                    {% assign industry_class = industry_class | replace: '/', '-' %}

                    <div class="{% if i == 1 or i == 6 %}col-md-offset-1{% endif %} col-md-2 col-sm-6 col-xs-6 mg-top-25 person-box top-giver wow pulse" id="generous-person-container-{{ person.['Ranking'] }}">
                        <div class="circle {% if person.['Bio Eng'] != 0 %}with-bio{% endif %}">
                            <div class="circle-text {% if person.['Image URL'] != 0 %}with-bg-image{% endif %}">
                                {% if person.['Image URL'] != 0 %}
                                <div class="giver-image" style="background-image: url({{ person.['Image URL'] }});"></div>
                                {% else %}
                                <div class="person-placeholder">
                                    <i class="fa fa-user"></i>
                                </div>
                                {% endif %}
                                <div class="content">
                                    <div>{{ i }}</div>
                                    <h4 class="card-name-container" data-name="{{ person.['Name Eng'] }}">{{ person.['Name Eng'] }}</h4>
                                    <div>¥{{ person.['Total Amount (million Yuan)'] }} Million</div>
                                </div>
                            </div>
                            <div class="details">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <ul class="no-bullets">
                                                <li><span class="text-muted">Age:</span> {% if person.['Age'] > 0 %} {{ person.['Age'] }} {% else %} N.A. {% endif %}</li>
                                                <li><span class="text-muted">Generosity:</span> {% if person.['Generosity'] != 0 %} {{person.['Generosity']}} {% else %} N.A. {% endif %}</li>
                                                <li><span class="text-muted">Province:</span> {% if person.['From Province'] != 0 %} {{ person.['From Province'] }} {% else %} N.A. {% endif %}</li>
                                                <li><span class="text-muted">Industry:</span> {{ person.['Industry'] }}</li>
                                                <li><span class="text-muted">Focus:</span> {{ focuses }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    {% if person.['Bio Eng'] != 0 %}
                                        <div class="row bio">
                                            <div class="col-sm-12">
                                                {{ person.['Bio Eng'] }}
                                            </div>
                                        </div>
                                    {% endif %}                                        
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}             

            {% endfor %}

        {% endfor %}
        </div>
        <div class="row">
            <div class="col-xs-12 text-center mg-top-50">
                <a href="data.html?generosity" class="btn btn-primary btn-xl"><i class="fa fa-bar-chart"></i> View Data</a>
            </div>
        </div>
    </div>

    <div class="container mg-top-100">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Top 10 - Giving</h2> <span class="info" data-toggle="tooltip" title="The ten donors who gave the most to philanthropic causes in 2015."><i class="fa fa-lg fa-info-circle"></i></span>
                <hr class="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
        {% assign a = 0 %}
        {% assign b = 1 %}

        {% assign focus_number = 0 %}
        {% assign generosity_number = 0 %}
        {% assign industry_number = 0 %}
        {% assign age_number = 0 %}

        {% assign education_number = 0 %}
        {% assign environment_number = 0 %}
        {% assign healthcare_number = 0 %}
        {% assign social_number = 0 %}
        {% assign disaster_number = 0 %}
        {% assign culture_number = 0 %}

        {% for person in site.data.persons %}

            {% if b <= 10 %}

                {% assign focuses = "a|b" | split: "|" %}
                {% if person.['Education'] > 0 %}
                     {% assign focuses = focuses | push: "Education" %}
                {% endif %}
                {% if person.['Environment'] > 0 %}
                     {% assign focuses = focuses | push: "Environment" %}
                {% endif %}
                {% if person.['Healthcare'] > 0 %}
                     {% assign focuses = focuses | push: "Healthcare" %}
                {% endif %}
                {% if person.['Social Welfare'] > 0 %}
                     {% assign focuses = focuses | push: "Social Welfare" %}
                {% endif %}
                {% if person.['Disaster Relief'] > 0 %}
                     {% assign focuses = focuses | push: "Disaster Relief" %}
                {% endif %}
                {% if person.['Culture'] > 0 %}
                     {% assign focuses = focuses | push: "Culture" %}
                {% endif %}

                {% assign focuses = focuses | array_to_sentence_string %}
                {% assign focuses = focuses | replace: 'a, b,', '' %}
                {% assign focuses = focuses | replace: 'and', '' %}

                {% assign industry_class = person.['Industry'] | split: &nbsp; %}
                {% assign industry_class = industry_class | join: '-' %}
                {% assign industry_class = industry_class | downcase %}
                {% assign industry_class = industry_class | replace: '/', '-' %}
                    <div class="{% if b == 1 or b == 6 %}col-md-offset-1{% endif %} col-md-2 col-sm-6 col-xs-6 mg-top-25 person-box top-giver wow pulse" id="person-container-{{ person.['Ranking'] }}">
                        <div class="circle {% if person.['Bio Eng'] != 0 %}with-bio{% endif %}">
                            <div class="circle-text {% if person.['Image URL'] != 0 %}with-bg-image{% endif %}">
                                {% if person.['Image URL'] != 0 %}
                                <div class="giver-image" style="background-image: url({{ person.['Image URL'] }});"></div>
                                {% else %}
                                <div class="person-placeholder">
                                    <i class="fa fa-user"></i>
                                </div>
                                {% endif %}
                                <div class="content">
                                    <div>{{ b }}</div>
                                    <h4 class="card-name-container" data-name="{{ person.['Name Eng'] }}">{{ person.['Name Eng'] }}</h4>
                                    <div>¥{{ person.['Total Amount (million Yuan)'] }} Million</div>
                                </div>
                            </div>
                            <div class="details">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <ul class="no-bullets">
                                                <li><span class="text-muted">Age:</span> {% if person.['Age'] > 0 %} {{ person.['Age'] }} {% else %} N.A. {% endif %}</li>
                                                <li><span class="text-muted">Generosity:</span> {% if person.['Generosity'] != 0 %} {{person.['Generosity']}} {% else %} N.A. {% endif %}</li>
                                                <li><span class="text-muted">Province:</span> {% if person.['From Province'] != 0 %} {{ person.['From Province'] }} {% else %} N.A. {% endif %}</li>
                                                <li><span class="text-muted">Industry:</span> {{ person.['Industry'] }}</li>
                                                <li><span class="text-muted">Focus:</span> {{ focuses }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    {% if person.['Bio Eng'] != 0 %}
                                        <div class="row bio">
                                            <div class="col-sm-12">
                                                {{ person.['Bio Eng'] }}
                                            </div>
                                        </div>
                                    {% endif %}   
                                </div>
                            </div>
                        </div>
                    </div>            

                {% if a == 9%}
                    {% assign a = 0 %}
                {% else %}
                    {% assign a = a | plus: 1 %} 
                {% endif %}
                {% assign b = b | plus: 1 %}
                {% if focuses != '' %}
                    {% assign focus_number = focus_number | plus: 1  %}
                {% endif %}   
                {% if person.['Generosity'] != 0 %}
                    {% assign generosity_number = generosity_number | plus: 1  %}
                {% endif %} 
                {% if person.['Industry'] != 0 %}
                    {% assign industry_number = industry_number | plus: 1  %}
                {% endif %} 
                {% if person.['Age'] > 0 %}
                    {% assign age_number = age_number | plus: 1  %}
                {% endif %} 

                {% if person.['Education'] > 0 %}
                     {% assign education_number = education_number | plus: 1  %}
                {% endif %}
                {% if person.['Environment'] > 0 %}
                     {% assign environment_number = environment_number | plus: 1  %}
                {% endif %}
                {% if person.['Healthcare'] > 0 %}
                     {% assign healthcare_number = healthcare_number | plus: 1  %}
                {% endif %}
                {% if person.['Social Welfare'] > 0 %}
                     {% assign social_number = social_number | plus: 1  %}
                {% endif %}
                {% if person.['Disaster Relief'] > 0 %}
                     {% assign disaster_number = disaster_number | plus: 1  %}
                {% endif %}
                {% if person.['Culture'] > 0 %}
                     {% assign culture_number = culture_number | plus: 1  %}
                {% endif %}

            {% endif %}                

        {% endfor %}
        </div>
        <div class="row">
            <div class="col-xs-12 text-center mg-top-50">
                <a href="data.html?generosity#people" class="btn btn-primary btn-xl"><i class="fa fa-users"></i> View Full List</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mg-top-50">
                    <a href="#location" class="next-section dark page-scroll">
                        Highlights<br>
                        <i class="fa fa-angle-down wow slideOutDown infinite"></i>
                    </a>
                </div>
            </div>    
        </div>
    </div>
</section>

<section id="location" class="location bg-dark bg-image wow fadeIn">
    <div class="background-image zoomable"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-heading wow bounce" data-wow-delay=".1s"><i class="fa fa-map-marker"></i> Guangdong – Land of Giving</h2>
                <hr class="light">
                <div class="wow zoomIn" data-wow-delay=".1s">
                    <p>The southern province of China is home to 21 philanthropists who donated about ￥11 billion, making it the most generous region by both counts. He Xiangjian, founder of the electrical appliance manufacturer Midea, leads with ￥400 million donation in 2015.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center mg-top-25">
                <a href="maps.html" class="btn btn-default btn-xl wow tada" data-wow-delay=".5s"><i class="fa fa-globe"></i> View Map</a>
            </div>
        </div>
    </div>
</section>

<section id="top-industries" class="wow fadeIn no-padding">
    <div class="container-fluid">
        <div class="row text-center">
          <div class="row-height">
            <div class="col-sm-6 col-height top-industry bg-dark bg-image">
                <div class="background-image zoomable"></div>
                <div class="inside">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <h2 class="section-heading wow bounce"><i class="fa fa-building"></i> Real Estate Gives</h2>
                                <hr class="light">
                                <p class="wow zoomIn">China’s booming property market has minted the most top philanthropists. Nearly a third of the country's top 100 donors come from the construction/real estate industry, followed by Manufacturing (19), Consumer (14) and Technology (13).</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center mg-top-25">
                                 <a href="data.html?industry" class="btn btn-default btn-xl wow tada" data-wow-delay=".5s"><i class="fa fa-bar-chart"></i> View Data</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-height hot-sector bg-dark bg-image">
                <div class="background-image zoomable"></div>
                <div class="inside">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <h2 class="section-heading wow bounce"><i class="fa fa-graduation-cap"></i> Education Takes</h2>
                                <hr class="light">
                                <p class="wow zoomIn">Education causes receive the lion’s share with 59 philanthropists making contributions. Poverty Alleviation/Social Welfare is the second most active sector (52), followed by Disaster Relief (8) and Healthcare (8). Significantly, giving to environmental causes ranks last.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center mg-top-25">
                                 <a href="data.html?education" class="btn btn-default btn-xl wow tada" data-wow-delay=".5s"><i class="fa fa-bar-chart"></i> View Data</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </div>
</section>

<section id="foundations" class="wow fadeIn no-padding">
    <div class="container-fluid">
        <div class="row text-center">
          <div class="row-height">
            <div class="col-sm-6 col-height government bg-dark bg-image">
                <div class="background-image zoomable"></div>
                <div class="inside">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                 <h2 class="section-heading wow bounce" data-wow-delay=".1s"><i class="fa fa-university"></i> Government Takes the Lead...</h2>
                                <hr class="light">
                                <div class="wow zoomIn" data-wow-delay=".1s">
                                    <p>Though high-profile scandals have eroded trust in government-backed charities, they continue to play a dominant role. More than half of the philanthropists (57) donate to government or state-affiliated charities.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-height private-foundation bg-dark bg-image">
                <div class="background-image zoomable"></div>
                <div class="inside">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <h2 class="section-heading wow bounce"><i class="fa fa-suitcase"></i> ...But Private Donors are Rising</h2>
                                <hr class="light">
                                <p class="wow zoomIn">Top Chinese donors are increasingly developing their own systems for professionalized philanthropy. Nearly a fifth of the donors on this list have established their own personal or family foundations as a vehicle for giving.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </div>
</section>

<section id="gender" class="with-nxt-sct-btn">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Gender Inequality</h2>
                <hr class="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <p class="text-center wow zoomIn">China's top donors are overwhelmingly male, with only 11 of the Top 100 philanthropists this year are women.</p>
            </div>
        </div>
        <div class="row pull-down-wrapper">
            <div class="col-sm-6 text-center">
                <div class="gender-icons-container mg-top-50">
                  
                  {% assign a = 0 %}
                  {% for i in (1..89) %}

                    {% if a < 10 %}
                    <i class="fa fa-male wow bounceIn text-primary" data-wow-delay=".0{{ a }}s"></i>
                    {% else %}
                    <i class="fa fa-male wow bounceIn text-primary" data-wow-delay=".{{ a }}s"></i>{% if a == 17 or a == 35 or a == 53 or a == 71 %}<br>{% endif %}

                    {% endif %}
                    {% assign a = a | plus: 1 %}

                  {% endfor %}

                    <h3>89 male philanthropists</h3>
                </div>
            </div>
            <div class="col-sm-6 text-center pull-down">
                <div class="gender-icons-container mg-top-50">
                  
                  {% assign a = 0 %}
                  {% for i in (1..11) %}
                    
                    <i class="fa fa-female wow bounceIn text-primary" data-wow-delay="{{ a | divided_by: 10 }}.{{ a | modulo: 10 }}s"></i>
                    {% assign a = a| plus: 1 %}

                  {% endfor %}

                  <h3>11 female philanthropists</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mg-top-50">
                    <a href="#about" class="next-section dark page-scroll">
                        About the Project<br>
                        <i class="fa fa-angle-down wow slideOutDown infinite"></i>
                    </a>
                </div>
            </div>    
        </div>
    </div>
</section>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About the Project</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 wow fadeIn">
                <p>The rise of private wealth is one of the most important developments in modern China, with implications for the country’s social, economic, and political arenas. How individuals choose to deploy such resources will shape the relationships between the individual and the state, between the state and business, and between the state and the social sector.</p>
                <p>This project aims to strengthen understanding of China’s philanthropic landscape by analyzing the makeup and choices of China’s most generous individuals. We hope the introduction of a metric on level of generosity, while imperfect, will add a new dimension to the discussion on how China’s wealthy choose to support charitable causes. We welcome comments and suggestions on our analysis and methodology through the email address listed below. The findings compile data from a variety of sources including media reports, company websites, corporate filings and trade journals. When possible we have further verified the data by directly contacting the philanthropist or the recipient of the gift.</p>
                <p>We believe that an independent, verified, and research-oriented database on China's philanthropic giving will enable much-needed quantitative research on the sector and provide a crucial resource for government, academic, media, and non-profit organizations.</p>
            </div>
            <div class="col-md-5 wow fadeIn">
                <p>We will supplement the database with a range of case studies, white papers, academic articles, and interviews with leading philanthropists and leaders of philanthropic organizations.</p>
                <p>This website will be updated annually. The 2015 report was compiled by: Peiran Wei (MC MPA '15, Harvard Kennedy School), Zijia Guo (MIB '15, The Fletcher School of Tufts University), Qinqin Wu (MDes '15, Harvard Graduate School of Design), Cuimei Zhang (Ed.M '15, Harvard Graduate School of Education) and Evan Kornbluh (MPP/MBA Candidate, Harvard Kennedy School/Harvard Business School).</p>
                <img src="{{ "/img/home/team.jpg" | prepend: site.baseurl | prepend: site.url }}" alt="Research team">
            </div>
        </div>
    </div>
</section>
