<nav id="mainNav" class="navbar navbar-default navbar-fixed-top dark">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-logo" href="http://ash.harvard.edu/"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if page.language == 'en' %}
                <li>
                    <a href="{{ site.baseurl | prepend: site.url }}/"><i class="fa fa-home"></i> Home</a>
                </li>
                <li class="{% if page.type == 'charts' %}active{% endif %}">
                    <a href="data.html"><i class="fa fa-bar-chart"></i> Data</a>
                </li>
                <li class="{% if page.type == 'maps' %}active{% endif %}">
                    <a href="maps.html" class=""><i class="fa fa-globe"></i> Maps</a>
                </li>
                <li>
                    <a href="{{ page.url | prepend:'cn' }}"><span class="menu-btn">中文版</span></a>
                </li>
                {% elsif page.language == 'cn' %}
                <li>
                    <a href="{{ '/cn/' | prepend: site.url }}"><i class="fa fa-home"></i> 主页</a>
                </li>                
                <li class="{% if page.type == 'charts' %}active{% endif %}">
                    <a href="data.html"><i class="fa fa-bar-chart"></i> 排行榜</a>
                </li>
                <li class="{% if page.type == 'maps' %}active{% endif %}">
                    <a href="maps.html" class=""><i class="fa fa-globe"></i> 地图</a>
                </li>
                <li>
                    <a href="../{{ page.url | remove:'/cn/' }}"><span class="menu-btn">En</span></a>
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
    <a href="#page-top" class="scroll-to-top page-scroll"><i class="fa fa-chevron-up"></i></a>
</nav>
