<!-- jQuery -->
<script src="{{ "/js/jquery.js" | prepend: site.baseurl | prepend: site.url }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "/js/jquery.fittext.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "/js/wow.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>

<!-- QRcode.js-->
<script src="{{ "/js/qrcode.min.js" | prepend: site.baseurl | prepend: site.url }}" type="text/javascript"></script>
<script type="text/javascript">
  new QRCode(document.getElementById("share-to-wechat"), "{{ site.url }}{{ site.baseurl }}{{ page.url }}");
</script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/creative.js" | prepend: site.baseurl | prepend: site.url }}"></script>

<script src="{{ "/js/translate.js" | prepend: site.baseurl | prepend: site.url }}"></script>
