---
layout: default
title: 中国慈善--艾什民主治理与创新中心
excerpt: 在2014年9月至2015年8月之间中国大陆前100名慈善家。哈佛肯尼迪学院艾什民主治理与创新中心研究。
language: cn
---

<header class="">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>中国慈善百人</h1>
            <hr>
            <p>哈佛大学艾什民主治理与创新中心首次发布2015年中国大陆前100名慈善家报告。</p>
        </div>
    </div>
    <div class="lrn-mr-btn">
        <a href="#overview" class="next-section page-scroll">
            查看更多<br>
            <i class="fa fa-angle-down wow slideOutDown infinite"></i>
        </a>
    </div>
</header>       

<section id="overview" class="with-nxt-sct-btn overview bg-dark wow fadeIn">
    <div class="background-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">2015年概览</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2 wow fadeIn">
                <p>本榜单针对中国大陆前100名慈善家在2014年9月至2015年8月间的捐赠数量、地域、方向、行业以及慷慨程度等一系列指标进行梳理和研究。</p>
            </div>
        </div>
        <div class="row text-center metrics">
            <div class="col-sm-4 wow zoomIn mg-top-50">
                <a href="data.html?generosity#people" class="no-style">
                    <p class="metric-lg">100</p>
                    <p>位个人</p>
                </a>    
            </div>
            <div class="col-sm-4 wow zoomIn mg-top-50">
                <p class="metric-lg">238亿元</p>
                <p>捐赠总额 <small data-toggle="tooltip" data-placement="bottom" title="包括以下四位慈善家所作的捐赠承诺：马云、何巧女、李河君和周旭洲。"><i class="fa fa-info-circle"></i></small></p>
            </div>
            <div class="col-sm-4 wow zoomIn mg-top-50">
                <p class="metric-lg">0.03%</p>
                <p>占比国内生产总值</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mg-top-50">
                    <a href="#findings" class="next-section page-scroll">
                        主要发现<br>
                        <i class="fa fa-angle-down wow slideOutDown infinite"></i>
                    </a>
                </div>
            </div>    
        </div>
    </div> 
</section>

<section id="findings" class="with-nxt-sct-btn findings bg-dark bg-image wow fadeIn">
    <div class="background-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">主要发现</h2>
                <hr class="">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <ul class="key-findings mg-top-50">
                    <li class="wow fadeIn" data-wow-delay="0s">王苗通的<a href="data.html?generosity" class="no-style shadow-underline">慷慨指数</a>为5.61%，位列2015年度榜首 。</li>
                    <li class="wow fadeIn" data-wow-delay=".1s">何享健以4亿元人民币的捐赠额位列2015年捐赠榜首位 。</li>
                    <li class="wow fadeIn" data-wow-delay=".19s">中国慈善家倾向于在自身所在地区捐赠。西藏、新疆、宁夏、甘肃、云南等相对贫困的<a href="maps.html?flow" class="no-style shadow-underline">省份</a>所接收的捐赠仅占捐赠总额的1.96%。</li>
                    <li class="wow fadeIn" data-wow-delay=".265s"><a href="data.html?education" class="no-style shadow-underline">教育</a>是受捐赠最多的领域。尽管2015年中国面临严峻的环境问题，用于<a href="data.html?environment" class="no-style shadow-underline">环境保护</a>的捐赠居末尾。</li>
                    <li class="wow fadeIn" data-wow-delay=".3265s">前100位慈善家实际和承诺捐赠总额占2014年全国捐赠总额的四分之一。</li>
                    <li class="wow fadeIn" data-wow-delay=".35s">房地产<a href="data.html?industry" class="no-style shadow-underline">行业</a>产生的慈善家数量最多。</li>
                    <li class="wow fadeIn" data-wow-delay=".37s">24位慈善家首次进入中国慈善前100名。</li>
                    <li class="wow fadeIn" data-wow-delay=".385s">平均捐赠额为5,200万元；中位数是2,000万元。</li>
                    <li class="wow fadeIn" data-wow-delay=".395s">前百位慈善家平均<a href="data.html?age" class="no-style shadow-underline">年龄</a>为54岁。在美国，捐赠额占资产净值的比重会随着年龄增加而上升。</li>
                    <li class="wow fadeIn" data-wow-delay=".405s">中国慈善家日趋专业，19人拥有自己的基金会。</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="section-double-btn-wrapper text-center mg-top-50">
                    <a href="data.html" class="btn btn-primary btn-xl"><i class="fa fa-bar-chart"></i> 查看图表</a>
                    <a href="maps.html" class="btn btn-primary btn-xl"><i class="fa fa-globe"></i> 查看地图</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mg-top-50">
                    <a href="#top-givers" class="next-section page-scroll">
                        慈善领袖<br>
                        <i class="fa fa-angle-down wow slideOutDown infinite"></i>
                    </a>
                </div>
            </div>    
        </div>
    </div> 
</section>

<section id="top-givers" class="top-givers with-nxt-sct-btn">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">慷慨指数前十名</h2> <span class="info" data-toggle="tooltip" title="
慷慨指数通过将慈善家捐赠总额与其所持所有上市公司股份价值总和（间接衡量其财富的指标）相比较，从而量化慈善家的慷慨程度。"><i class="fa fa-lg fa-info-circle"></i></span>
                <hr class="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

        {% assign focus_number = 0 %}
        {% assign generosity_number = 0 %}
        {% assign industry_number = 0 %}
        {% assign age_number = 0 %}

        {% assign education_number = 0 %}
        {% assign environment_number = 0 %}
        {% assign healthcare_number = 0 %}
        {% assign social_number = 0 %}
        {% assign disaster_number = 0 %}
        {% assign culture_number = 0 %}

        {% for i in (1..10) %}
        
            {% for person in site.data.persons %}

                {% if person.['GI Rank'] == i %}

                    {% assign focuses = "a|b" | split: "|" %}
                    {% if person.['Education'] > 0 %}
                         {% assign focuses = focuses | push: "教育" %}
                    {% endif %}
                    {% if person.['Environment'] > 0 %}
                         {% assign focuses = focuses | push: "环保" %}
                    {% endif %}
                    {% if person.['Healthcare'] > 0 %}
                         {% assign focuses = focuses | push: "医疗" %}
                    {% endif %}
                    {% if person.['Social Welfare'] > 0 %}
                         {% assign focuses = focuses | push: "社会福利" %}
                    {% endif %}
                    {% if person.['Disaster Relief'] > 0 %}
                         {% assign focuses = focuses | push: "赈灾" %}
                    {% endif %}
                    {% if person.['Culture'] > 0 %}
                         {% assign focuses = focuses | push: "文化" %}
                    {% endif %}

                    {% assign focuses = focuses | array_to_sentence_string %}
                    {% assign focuses = focuses | replace: 'a, b,', '' %}
                    {% assign focuses = focuses | replace: 'and', '' %}

                    {% assign industry_class = person.['Industry'] | split: &nbsp; %}
                    {% assign industry_class = industry_class | join: '-' %}
                    {% assign industry_class = industry_class | downcase %}
                    {% assign industry_class = industry_class | replace: '/', '-' %}

                    <div class="{% if i == 1 or i == 6 %}col-md-offset-1{% endif %} col-md-2 col-sm-6 col-xs-6 mg-top-25 person-box top-giver wow pulse" id="generous-person-container-{{ person.['Ranking'] }}">
                       <div class="circle {% if person.['Bio CN'] != 0 %}with-bio{% endif %}">
                            <div class="circle-text {% if person.['Image URL'] != 0 %}with-bg-image{% endif %}">
                                {% if person.['Image URL'] != 0 %}
                                <div class="giver-image" style="background-image: url({{ person.['Image URL'] }});"></div>
                                {% else %}
                                <div class="person-placeholder">
                                    <i class="fa fa-user"></i>
                                </div>
                                {% endif %}
                                <div class="content">
                                    <div>{{ i }}</div>
                                    <h4 class="card-name-container" data-name="{{ person.['Name CN'] }}">{{ person.['Name CN'] }} </h4>
                                    {% if person.['Total Amount (million Yuan)'] < 100 %}
                                        <div>{{ person.['Total Amount (million Yuan)'] }}00万元</div>
                                    {% else %}
                                        {% assign base_amount = person.['Total Amount (million Yuan)'] | divided_by: 100 %}
                                        {% assign base_hun = base_amount | times: 100 %}
                                        {% assign mod_amount = person.['Total Amount (million Yuan)'] | minus: base_hun %}
                                        {% if mod_amount == 0%}                                        
                                            <div>{{ base_amount }}亿元</div>
                                        {% elsif mod_amount < 10 %}
                                            <div>{{ base_amount }}.0{{ mod_amount }}亿元</div>
                                        {% endif %}    
                                        {% if mod_amount >= 10 %}
                                            <div>{{ base_amount }}.{{ mod_amount }}亿元</div>
                                        {% endif %}   
                                    {% endif %}                                
                                </div>
                            </div>
                            <div class="details">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <ul class="no-bullets">
                                                <li><span class="text-muted">年龄</span> {% if person.['Age'] > 0 %} {{ person.['Age'] }} {% else %} N.A. {% endif %}</li>
                                                <li><span class="text-muted">慷慨指数</span>{% if person.['Generosity'] != 0 %} {{person.['Generosity']}} {% else %} N.A. {% endif %}</li>
                                                <li><span class="text-muted">位置</span>{% if person.['From Province'] != 0 %} {{ person.['Province CN'] }} {% else %} N.A. {% endif %}</li>
                                                <li><span class="text-muted">行业</span> {{ person.['Industry CN'] }}</li>
                                                <li><span class="text-muted">关注领域</span> {{ focuses }}</li>
                                            </ul>
                                        </div>
                                    </div>    
                                    {% if person.['Bio CN'] != 0 %}
                                        <div class="row bio">
                                            <div class="col-sm-12">
                                                {{ person.['Bio CN'] }}
                                            </div>
                                        </div>
                                    {% endif %}                                      
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}             

            {% endfor %}

        {% endfor %}
        </div>
        <div class="row">
            <div class="col-xs-12 text-center mg-top-50">
                <a href="data.html?generosity" class="btn btn-primary btn-xl"><i class="fa fa-bar-chart"></i>  查看相关图表</a>
            </div>
        </div>
    </div>

    <div class="container mg-top-100">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">实际捐赠前十名</h2> <span class="info" data-toggle="tooltip" title="在2015年实际发生捐赠数量名列前茅的慈善家。"><i class="fa fa-lg fa-info-circle"></i></span>
                <hr class="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
        {% assign a = 0 %}
        {% assign b = 1 %}

        {% assign focus_number = 0 %}
        {% assign generosity_number = 0 %}
        {% assign industry_number = 0 %}
        {% assign age_number = 0 %}

        {% assign education_number = 0 %}
        {% assign environment_number = 0 %}
        {% assign healthcare_number = 0 %}
        {% assign social_number = 0 %}
        {% assign disaster_number = 0 %}
        {% assign culture_number = 0 %}

        {% for person in site.data.persons %}

            {% if b <= 10 %}

                {% assign focuses = "a|b" | split: "|" %}
                {% if person.['Education'] > 0 %}
                     {% assign focuses = focuses | push: "教育" %}
                {% endif %}
                {% if person.['Environment'] > 0 %}
                     {% assign focuses = focuses | push: "环保" %}
                {% endif %}
                {% if person.['Healthcare'] > 0 %}
                     {% assign focuses = focuses | push: "医疗" %}
                {% endif %}
                {% if person.['Social Welfare'] > 0 %}
                     {% assign focuses = focuses | push: "社会福利" %}
                {% endif %}
                {% if person.['Disaster Relief'] > 0 %}
                     {% assign focuses = focuses | push: "赈灾" %}
                {% endif %}
                {% if person.['Culture'] > 0 %}
                     {% assign focuses = focuses | push: "文化" %}
                {% endif %}

                {% assign focuses = focuses | array_to_sentence_string %}
                {% assign focuses = focuses | replace: 'a, b,', '' %}
                {% assign focuses = focuses | replace: 'and', '' %}

                {% assign industry_class = person.['Industry'] | split: &nbsp; %}
                {% assign industry_class = industry_class | join: '-' %}
                {% assign industry_class = industry_class | downcase %}
                {% assign industry_class = industry_class | replace: '/', '-' %}
                    <div class="{% if b == 1 or b == 6 %}col-md-offset-1{% endif %} col-md-2 col-sm-6 col-xs-6 mg-top-25 person-box top-giver wow pulse" id="person-container-{{ person.['Ranking'] }}">
                        <div class="circle {% if person.['Bio CN'] != 0 %}with-bio{% endif %}">
                            <div class="circle-text {% if person.['Image URL'] != 0 %}with-bg-image{% endif %}">
                                {% if person.['Image URL'] != 0 %}
                                <div class="giver-image" style="background-image: url({{ person.['Image URL'] }});"></div>
                                {% else %}
                                <div class="person-placeholder">
                                    <i class="fa fa-user"></i>
                                </div>
                                {% endif %}
                                <div class="content">
                                    <div>{{ b }}</div>
                                    <h4 class="card-name-container" data-name="{{ person.['Name Eng'] }}">{{ person.['Name CN'] }}</h4>
                                    {% if person.['Total Amount (million Yuan)'] < 100 %}
                                        <div>{{ person.['Total Amount (million Yuan)'] }}00万元</div>
                                    {% else %}
                                        {% assign base_amount = person.['Total Amount (million Yuan)'] | divided_by: 100 %}
                                        {% assign base_hun = base_amount | times: 100 %}
                                        {% assign mod_amount = person.['Total Amount (million Yuan)'] | minus: base_hun %}
                                        {% if mod_amount == 0%}                                        
                                            <div>{{ base_amount }}亿元</div>
                                        {% elsif mod_amount < 10 %}
                                            <div>{{ base_amount }}.0{{ mod_amount }}亿元</div>
                                        {% endif %}    
                                        {% if mod_amount >= 10 %}
                                            <div>{{ base_amount }}.{{ mod_amount }}亿元</div>
                                        {% endif %}   
                                    {% endif %}    
                                </div>
                            </div>
                            <div class="details">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <ul class="no-bullets">
                                                <li><span class="text-muted">年龄</span> {% if person.['Age'] > 0 %} {{ person.['Age'] }} {% else %} N.A. {% endif %}</li>
                                                <li><span class="text-muted">慷慨指数</span>{% if person.['Generosity'] != 0 %} {{person.['Generosity']}} {% else %} N.A. {% endif %}</li>
                                                <li><span class="text-muted">位置</span>{% if person.['From Province'] != 0 %} {{ person.['Province CN'] }} {% else %} N.A. {% endif %}</li>
                                                <li><span class="text-muted">行业</span> {{ person.['Industry CN'] }}</li>
                                                <li><span class="text-muted">关注领域</span> {{ focuses }}</li>
                                            </ul>
                                        </div>
                                    </div>    
                                    {% if person.['Bio CN'] != 0 %}
                                        <div class="row bio">
                                            <div class="col-sm-12">
                                                {{ person.['Bio CN'] }}
                                            </div>
                                        </div>
                                    {% endif %}                                      
                                </div>
                            </div>
                        </div>
                    </div>            

                {% if a == 9%}
                    {% assign a = 0 %}
                {% else %}
                    {% assign a = a | plus: 1 %} 
                {% endif %}
                {% assign b = b | plus: 1 %}
                {% if focuses != '' %}
                    {% assign focus_number = focus_number | plus: 1  %}
                {% endif %}   
                {% if person.['Generosity'] != 0 %}
                    {% assign generosity_number = generosity_number | plus: 1  %}
                {% endif %} 
                {% if person.['Industry'] != 0 %}
                    {% assign industry_number = industry_number | plus: 1  %}
                {% endif %} 
                {% if person.['Age'] > 0 %}
                    {% assign age_number = age_number | plus: 1  %}
                {% endif %} 

                {% if person.['Education'] > 0 %}
                     {% assign education_number = education_number | plus: 1  %}
                {% endif %}
                {% if person.['Environment'] > 0 %}
                     {% assign environment_number = environment_number | plus: 1  %}
                {% endif %}
                {% if person.['Healthcare'] > 0 %}
                     {% assign healthcare_number = healthcare_number | plus: 1  %}
                {% endif %}
                {% if person.['Social Welfare'] > 0 %}
                     {% assign social_number = social_number | plus: 1  %}
                {% endif %}
                {% if person.['Disaster Relief'] > 0 %}
                     {% assign disaster_number = disaster_number | plus: 1  %}
                {% endif %}
                {% if person.['Culture'] > 0 %}
                     {% assign culture_number = culture_number | plus: 1  %}
                {% endif %}

            {% endif %}                

        {% endfor %}
        </div>
        <div class="row">
            <div class="col-xs-12 text-center mg-top-50">
                <a href="data.html?generosity#people" class="btn btn-primary btn-xl"><i class="fa fa-users"></i> 查看完整榜单</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mg-top-50">
                    <a href="#location" class="next-section dark page-scroll">
                        摘要<br>
                        <i class="fa fa-angle-down wow slideOutDown infinite"></i>
                    </a>
                </div>
            </div>    
        </div>
    </div>
</section>

<section id="location" class="location bg-dark bg-image wow fadeIn">
    <div class="background-image zoomable"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-heading wow bounce" data-wow-delay=".1s"><i class="fa fa-map-marker"></i> 广东 ：慈善之乡</h2>
                <hr class="light">
                <div class="wow zoomIn" data-wow-delay=".1s">
                    <p>广东产生了21位上榜慈善家，捐赠总额接近110亿元，两项指标均为全国之最。家电生产商美的集团创始人何享健共计捐赠4亿元，位居2015年榜首。</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center mg-top-25">
                <a href="maps.html" class="btn btn-default btn-xl wow tada" data-wow-delay=".5s"><i class="fa fa-globe"></i> 查看相关地图</a>
            </div>
        </div>        
    </div>
</section>

<section id="top-industries" class="wow fadeIn no-padding">
    <div class="container-fluid">
        <div class="row text-center">
          <div class="row-height">
            <div class="col-sm-6 col-height top-industry bg-dark bg-image">
                <div class="background-image zoomable"></div>
                <div class="inside">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <h2 class="section-heading wow bounce"><i class="fa fa-building"></i> 房地产：贡献最大</h2>
                                <hr class="light">
                                <p class="wow zoomIn">中国蓬勃发展的房地产行业造就了最多的慈善家。大约三分之一上榜慈善家的核心业务是房地产，其次是制造业（19人），消费（14人）和科技（13人）。</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center mg-top-25">
                                 <a href="data.html?industry" class="btn btn-default btn-xl wow tada" data-wow-delay=".5s"><i class="fa fa-bar-chart"></i> 查看相关图表</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-height hot-sector bg-dark bg-image">
                <div class="background-image zoomable"></div>
                <div class="inside">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <h2 class="section-heading wow bounce"><i class="fa fa-graduation-cap"></i> 教育：受益最多</h2>
                                <hr class="light">
                                <p class="wow zoomIn">教育是受捐赠最多的领域，共有59人捐赠给各类学校及学生。扶贫/社会福利是受益第二多的领域（52人），再次是救灾（8人）和医疗（8人）。环保捐赠人数寥寥。</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center mg-top-25">
                                 <a href="data.html?education" class="btn btn-default btn-xl wow tada" data-wow-delay=".5s"><i class="fa fa-bar-chart"></i> 查看相关图表</a>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
           </div>
        </div>
    </div>
</section>

<section id="foundations" class="wow fadeIn no-padding">
    <div class="container-fluid">
        <div class="row text-center">
          <div class="row-height">
            <div class="col-sm-6 col-height government bg-dark bg-image">
                <div class="background-image zoomable"></div>
                <div class="inside">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                 <h2 class="section-heading wow bounce" data-wow-delay=".1s"><i class="fa fa-university"></i> 政府依然主导...</h2>
                                <hr class="light">
                                <div class="wow zoomIn" data-wow-delay=".1s">
                                    <p>尽管近年来受政府支持慈善机构的声誉受到丑闻影响，但其依然作用明显。约有六成的慈善家（57人）选择对政府或政府相关的公益机构进行捐赠。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-height private-foundation bg-dark bg-image">
                <div class="background-image zoomable"></div>
                <div class="inside">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <h2 class="section-heading wow bounce"><i class="fa fa-balance-scale"></i> ...个人日趋专业化</h2>
                                <hr class="light">
                                <p class="wow zoomIn">中国顶级慈善家正日益发展自身的专业化慈善体系。约有五分之一的上榜慈善家拥有自己或家庭基金会。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </div>
</section>

<section id="gender" class="with-nxt-sct-btn">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">性别比例失衡</h2>
                <hr class="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <p class="text-center wow zoomIn">中国的慈善家绝大多数为男性。在2015年的榜单上，女性仅有11位。（27/100）。</p>
            </div>
        </div>
        <div class="row pull-down-wrapper">
            <div class="col-sm-6 text-center">
                <div class="gender-icons-container mg-top-50">
                  
                  {% assign a = 0 %}
                  {% for i in (1..89) %}

                    {% if a < 10 %}
                    <i class="fa fa-male wow bounceIn text-primary" data-wow-delay=".0{{ a }}s"></i>
                    {% else %}
                    <i class="fa fa-male wow bounceIn text-primary" data-wow-delay=".{{ a }}s"></i>{% if a == 17 or a == 35 or a == 53 or a == 71 %}<br>{% endif %}

                    {% endif %}
                    {% assign a = a | plus: 1 %}

                  {% endfor %}

                    <h3>89位男性</h3>
                </div>
            </div>
            <div class="col-sm-6 text-center pull-down">
                <div class="gender-icons-container mg-top-50">
                  
                  {% assign a = 0 %}
                  {% for i in (1..11) %}
                    
                    <i class="fa fa-female wow bounceIn text-primary" data-wow-delay="{{ a | divided_by: 10 }}.{{ a | modulo: 10 }}s"></i>
                    {% assign a = a| plus: 1 %}

                  {% endfor %}

                  <h3>11位女性</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mg-top-50">
                    <a href="#about" class="next-section dark page-scroll">
                        关于本项目<br>
                        <i class="fa fa-angle-down wow slideOutDown infinite"></i>
                    </a>
                </div>
            </div>    
        </div>
    </div>
</section>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">关于本项目</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 wow fadeIn">
                <p>私人财富的快速增长是现代中国最为重要的成就之一，并对社会、经济和政治等方面产生深远影响。富有人群如何选择配置他们的财富，将会改变个人与国家、国家与企业以及国家与社会部门之间的种种关系。</p>
                <p>本研究通过收集和分析中国最富有阶层每年的慈善捐赠，并在常用的绝对捐赠额的基础上，增加了慷慨指数作为衡量标准，旨在提供对中国慈善领域研究的一个全新视角。尽管并不完美，我们希望这一新的衡量标准有助于推动中国国内慈善捐赠的讨论。通过下方邮件，我们欢迎对于慷慨指数和定义的意见和建议。项目研究结果来源于各种公开信源，包括媒体报道、公司网站、企业公告和行业刊物，我们也尽可能联系了每个捐赠人或其代表。</p>
                <p>我们相信，建立起一个独立、准确、为研究所用的中国慈善数据库，将有助于对行业进行量化研究，并产生可被政府、学界、媒体和非盈利组织广泛运用的一系列指标。</p>
                <p>展望未来，2016年我们将会增加一系列的案例研究、白皮书和学术文章，并采访慈善领袖及慈善组织的负责人。</p>
            </div>
            <div class="col-md-5 wow fadeIn">
                <p>本网站今后将每年进行更新，在此我们向研究团队致谢。2015年数据由以下人员汇编完成：魏沛然（哈佛大学肯尼迪政府学院，2015级公共管理硕士）、郭紫佳（塔夫茨大学弗莱彻学院，2015级国际商业硕士）、吴沁沁（哈佛大学设计学院，2015级设计学硕士）、张翠梅（哈佛大学教育学院，2015级教育硕士）和Evan Kornbluh（哈佛大学肯尼迪政府学院／哈佛商学院，公共政策硕士／工商管理硕士在读）。</p>
                <img src="{{ "/img/home/team.jpg" || prepend: site.baseurl }}" alt="Research team">
            </div>
        </div>
    </div>
</section>
